.video-js {
  font-size: 16px;
  color: #cacaca;
  border-radius: 8px;
  overflow: hidden;
}

.video-js .vjs-icon-placeholder:before {
  color: white;
}

/* Control bar background */
.video-js:hover .vjs-big-play-button,
.video-js .vjs-big-play-button:focus {
  background-color: #3b82f6;
  border-color: #3b82f6;
  transition: all;
}

.video-js .vjs-big-play-button {
  background-color: #3b82f6;
  border-radius: 100%;
  width: 68px;
  height: 68px;
  border: none;
  top: 50%;
  left: 50%;
  margin-left: 0;
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 0;
  transform: translate(-50%, -50%);
}

/* @media screen and (max-width: 768px) {
  .video-js .vjs-big-play-button {
    width: 48px;
    height: 48px;
  }
} */

.video-js .vjs-playing .vjs-play-control:before {
  content: "\23F8";
}

/* Fullscreen control */
.video-js .vjs-fullscreen-control:before {
  content: "\26F6";
}

/* Volume control */
.video-js .vjs-volume-menu-button:before {
  content: "\1F50A";
}

.video-js .vjs-play-progress {
  background: #3b82f6;
  border-radius: 1em;
}

.video-js .vjs-load-progress {
  background: rgba(38, 38, 38, 0.5);
}

/* Slider handle customization */
.video-js .vjs-play-progress:before {
  content: "";
  position: absolute;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  background: radial-gradient(circle, #3b82f6 33%, #3b82f6);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 100%;
}

.video-js .vjs-play-progress:hover:before {
  width: 1.2em;
  height: 1.2em;
}

.video-js .vjs-time-tooltip {
  background: #cacaca !important;
  color: #3b82f6 !important;
  border-radius: 3px;
}
